@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Mulish:wght@400;700;800&family=Poppins:wght@700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


img{
  max-inline-size: 100%;
  block-size: auto;
}

a {
  display: block;
}

.header_button_icon {
  width: 32px;
  height: 32px;
  color: #EB5757E5;
}

.app {
  margin-inline: 13px 12px;
}

.header_button_container {
  display: flex;
  justify-content: center;
  margin-block-start: 39px;
}